[package]
authors = ["Mathias Hall-Andersen <mathias@hall-andersen.dk>"]
edition = "2018"
name = "reverie"
license = "GPLv3"
version = "0.2.0"

[dependencies]
async-channel = "*"
async-scoped = "0.4.1"
async-std = "*"
async-stream = "0.2.1"
bincode = "1.3.1"
blake3 = "0.3.4"
crossbeam = "0.8.0"
fnv = "1.0.7"
hex = "0.4"
itertools = "0.9"
rand = "0.7.3"
rand_chacha = "0.2.2"
rand_core = "*"
rayon = "1.3"
serde = {version = "1.0", features = ["derive"]}
static_assertions = "1.1.0"
typenum = "1.12.0"

[dev-dependencies]
aes = "0.3.2"

[features]
trace = []
debug_eval = []
